# Git
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environments
venv/
.venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# DevOps folders (not needed inside Docker image)
k8s/
monitoring/
.github/

# Docs and media
*.md
*.gif
*.png
docs/

# Charts output folder
charts/